.container {
  padding-top:30px;
  /*margin-left:2%;*/
	font-family:Courier New, Courier, monospace;
}

.headline {
  margin-bottom:40px;
  text-transform: uppercase;
  text-align:center;
}

.title {
  font-size:17px;
}

.navbox {
  text-align:center;
  margin-bottom: 30px;
}

.logo {
  /*padding-left:15px;*/
  height:60px;
  width:auto;
}

.links {
  margin-top:10px;
}

.links p {
  margin-bottom: 10px;
  text-transform:uppercase;
}


.description {
  font-size:13px;
}

a {
  text-emphasis: none;
  color:black;
}

/*
#title-bar {
  text-align: center;
  font-size:1.8em;
  text-transform:uppercase;
}

#title-bar p {
  padding-top:10px;
}

#container {
	width: 80%;
	background:#fff;
	margin: 0 auto;
	-webkit-box-shadow: 0px 0px 15px #000;
	-moz-box-shadow: 0px 0px 15px #000;
	padding-bottom:30px
}
#content {padding: 0 20px; text-align:center; line-height:18px }

img {border:0px;}

a:link, a:visited {color:#88b0dc; text-decoration:none}
a:hover, a:active {color:#CC5500; text-decoration:none}

.info {width:800px; margin:0 auto;  margin-top:20px; text-align:center; font-size:12px; padding-bottom:25px;}
.info a, .info a:visited {color:#333}
.info a:hover {color:#000}*/

@media (max-width:991px) {
  .galbox {
    height:320px;
  }
  .galbox-photo {
    height:180px;
  }
}

@media (min-width:1200px) {
  .galbox {
    height:280px;
  }
  .galbox-photo {
    height:160px;
  }
}

@media (min-width:992px) and (max-width:1199px) {
  .galbox {
    height:230px;
  }
  .galbox-photo {
    height:120px;
  }
}

.galbox p {
  margin-top:5px;
  line-height: .9em;
}

.gal img:hover {
  box-shadow:0px 0px 5px #333;
  -webkit-box-shadow: 0px 0px 5px #333;
  -moz-box-shadow: 0px 0px 5px #333;
}

.gal img {
    width:100%;
    height:auto;
}

/*.gal .galbox {
  width:280px;
  float:left;
  height:250px;
}*/

/*.entry p {
  margin:5px;
  padding-left:5px;
}*/

/*.title {
  font-size:18px;
}

.page-links {
  font-size:1.1em;
  text-transform:uppercase;
}

.page-links a {
  color:black;
}*/
