<head>
<title>Admin Console</title>
  <link rel="stylesheet" href="css/admin.css">
  <script src="/js/jquery-2.1.4.min.js"></script>
</head>
<body>
    <div>
        <h1>Welcome to your admin console!</h1>
      <p><a href="/">Main Page</a></p>
      <p><a href="/admin">Add Video</a></p>
      <p><a href="/delete">Delete Video</a></p>
      <p><a href="/list">Change Video Order</a></p>
  </div>
      {% block content %}

    {% endblock %}
    <script src="/js/admintools.js"></script>
</body>
