<head>
  <title>Polyglossia</title>
  <link href='/css/bootstrap.min.css' rel='stylesheet'>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/js/magnific/magnific-popup.css">
  <script src="/js/jquery-2.1.4.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="col-xs-12 col-md-3">
      <div class="col-xs-4 col-md-12 navbox">
        <span class="title">
  <p>Polyglossia Films</p>
      </span>

        <img class="logo" src="../images/ts_business_card.png" alt="">
      <div class="links">
        <a href="/">
          <p>Videography</p>
        </a>
        <a href="/photos">
          <p>Photography</p>
        </a>
      </div>
    </div>
      <div class="col-xs-8 col-md-12 description">
        <p>Tom Slemmons is a freelance videographer and photographer based in Tokyo.
        </p>
        <p>
          In addition to freelance videography he is also the current English supervisor for NHK Educational children's program Eigo-de-asobo. Tom has been living in Japan since 2006.</p>
        <p>All inquiries:
          <a href="mailto:tom@polyglossiafilms.com"> tom@polyglossiafilms.com</p>
      </a>
      </div>
    </div>

    {% block content %} {% endblock %}

    <script src="/js/magnific/jquery.magnific-popup.min.js">
    </script>
    <script src='/js/bootstrap.min.js'></script>
    <script src="/js/main.js"></script>
</body>
