<head>
<title>Admin Console</title>
  <link rel="stylesheet" href="css/admin.css">
  <script src="/js/jquery-2.1.4.min.js"></script>
</head>
<body>
<div>
<p>You are trying to enter an administrative section of the site. Please enter your credentials.</p>
    <p>Go back to the <a href="/">home page</a></p>
    <form action="/signin" method="post">
  <input type="text" name="username" placeholder="Name"><br>
  <input type="password" name="pw" placeholder="Password"><br>
  <input type="submit" value="Sign in">
</form>
    </div>
</body>
